*,
*::after,
*::before{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.videoWrapper{
    position: relative;
    width: 100%;
    height: 100vh;
}

.videoWrapper video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.videoWrapper ul{
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.videoWrapper ul li{
    list-style-type: none;
    width: 20%;
    margin: 1%;
    
}

.videoWrapper ul li img{
    width: 100%;
    border: 5px solid seagreen;
    transition: transform 0.4s;
}

.videoWrapper ul li img:hover{
    cursor: pointer;
    transform: scale(1.3);
}
body {
    background-color: #333;
}
.name {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    mix-blend-mode: overlay;
   font-size: 60px;
}
